<div role="tabpanel" class="tab-pane" id="zadanie3">

    <div id="chartContainer"></div>

</div>

<div role="tabpanel" class="tab-pane" id="zadanie4">
    <br>
    <br>
    <br>

    <h1 class="text-center">Zapraszam do kodu :)</h1>
</div>


</div>
<br>
<br>
<br>

</div>


<div class="container">
    &copy; 2015 Krzysztof Pazdur
</div>

<script>
    $(function () {
        $('#myTab a:first').tab('show')
    });

    $(document).ready(function () {

        $(function () {
            //Better to construct options first and then pass it as a parameter
            var options = {
                title: {
                    text: "WYKRES ŚREDNIEGO DZIENNEGO ZUŻYCIA PRĄDU W DANYM PRZEDZIALE "
                },
                axisX: {
                    title: "Od: {{ PA }}"
                },
                zoomEnabled: false,
                width: 1000,
                height: 500,
                axisY: {
                    title: "Średni dzienny pobór mocy",
                    includeZero: false,
                    interval: 0.5,

                    interlacedColor: "#F5F5F5",
                    gridColor: "#D7D7D7",
                    tickColor: "#D7D7D7"
                },
                animationEnabled: true,

                data: [
                    {
                        type: "line",

                        dataPoints: [

                            {{ DATA_POINTS }}

                        ]
                    }
                ]
            };

            $("#chartContainer").CanvasJSChart(options);

        });


    });


</script>

</body>
</html>
