<div role="tabpanel" class="tab-pane" id="zadanie1">
    <br>
    <br>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <p class="text-justify lead">
                NAPISZ KOD/FUNKCJĘ/KLASĘ (WG UZNANIA), KTÓRA BĘDZIE MIAŁA ZA ZADANIE ODBIERAĆ Z TABELI ODCZYTY Z DANEGO
                OKRESU I ZWRACAĆ JE W FORMIE TABLICY ASOCJACYJNEJ <br> (DATA => ODCZYT)
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
            <p class="text-justify lead"><b>UWAGA!</b> Jeśli wybierzemy daty od 10 stycznia do 20 stycznia to skrypt
                powinien
                również pobrać ostatni odczyt z przed 10 stycznia (jeśli nie było tego dnia odczytu - jest to potrzebne
                do
                wykonania kolejnego punktu). </p>

        </div>
        <div class="col-xs-6 col-md-4">
            <p class="text-center  lead text-uppercase">{{ PA }} </p>

            <pre>{{ TABA }}</pre>

        </div>
    </div>
    <p></p>

    <p></p>

    <p></p>
</div>