<div role="tabpanel" class="tab-pane" id="zadanie2">
    <br>
    <br>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <p class="text-justify lead">
                NAPISZ KOD/FUNKCJĘ/KLASĘ (WG UZNANIA), KTÓRA UŻYWAJĄC TABLICY ZWRÓCONEJ W PKT. 1 ZWRÓCI TABLICĘ
                ZAWIERAJĄCĄ
                ŚREDNIE ZUŻYCIE ENERGII (Z DOKŁADNOŚCIĄ DO 2 MIEJSC PO PRZECINKU) DLA KAŻDEGO DNIA Z DANEGO PRZEDZIAŁU
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
            <p class="text-justify lead"><b>ROZWIĄZANIE:</b>
MIĘDZY 1 A 11 STYCZNIA ZUŻYTO W SUMIE 100KWH - BIORĄC POD UWAGĘ ŻE BYŁO TO 10 DNI, TO DZIENNE ŚREDNIE ZUŻYCIE WYNIOSŁO 10KWH
MIĘDZY 11 A 22 SYCZNIA ZUŻYTO W SUMIE 50KWH -  BYŁO TO 11 DNI WIĘC DZIENNE ŚREDNIE ZUŻYCIE WYNIOSŁO 4.54 KWH, WIĘC KOD POWINIEN ZWRÓCIĆ TABLICĘ 
</p>

        </div>
        <div class="col-xs-6 col-md-4">
            <p class="text-center  lead text-uppercase">{{ PA }} </p>

            <p class="text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Pokaż przetworzone dane
                </button>
            </p>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Przetworzone dane</h4>
                        </div>
                        <div class="modal-body">
                            <pre>{{ TABA }}</pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <p></p>

    <p></p>

    <p></p>
</div>
